.easypack-shipping-method-logo img {
	max-width: 100px;
	max-height: 40px;
	display: block;
	border:none;
}

.sheepla-widget-fullscreen {
	position: fixed;
}

.inpost_returns_button {
	background:linear-gradient(#FFE462, #FFA900) #FFE462;
	border:1px solid #FECB2C;
	box-shadow:#666666 0 1px 1px;
	color:#000000  !important;
	display:inline-block  !important;
	font-size:18px;
	letter-spacing:0;
	line-height:18px;
	text-decoration:none  !important;
	text-shadow:#FFFFFF 1px 1px 3px;
	text-transform:uppercase;
	border-radius:8px;
	display:block;
	font-size:20px;
	margin:20px auto 0;
	padding:13px 42px !important;
}


.font-height-600 {
	font-weight: 600;!important;
}

.hidden {
	display: none;!important;
}


.italic {
	font-style: italic;
}

.easypack-parcel-machine-select {
	padding-bottom: 120px;
}

.easypack-shipping-method-logo {
	/*top: 13px;*/
	position: relative;
}

.woocommerce-checkout-review-order-table .easypack-shipping-method-logo {
	position: relative;
	top: -3px;
}

.calculated_shipping .easypack-shipping-method-logo {
	position: relative;
	top: -3px;
}

.apaczka-hidden{
	display: none;
}

.apaczka-delivery-point-wrap {
    display:none;
}

.button.alt.apaczka_pl_geowidget_classic, #apaczka_pl_geowidget_classic {
    border: 0 !important;
    font-size: 19px !important;
    box-shadow: 0 15px 30px -18px rgba(0,0,0,90%) !important;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: #29bb15;
    border-radius: 3px;
    line-height: 1em;
    padding: 7px 10px 12px 10px;
    max-width: 200px;
}


.button.alt.apaczka_pl_geowidget_block {
    border: 0 !important;
    font-size: 19px !important;
    box-shadow: 0 15px 30px -18px rgba(0,0,0,90%) !important;
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background-color: #29bb15;
    border-radius: 3px;
    line-height: 1em;
    padding: 7px 10px 12px 10px;
    max-width: 200px;
}

#apaczka_selected_point_data {
    border: 2px solid #29bb15;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
}

@media (max-width: 950px) {
    .apaczkaMapMobileFilterButton {
        height: 40px !important;
        float: right;
        cursor: pointer;
    }

    .apaczkaMapMobileCloseButton {
        height: 40px !important;
        float: right;
        cursor: pointer;
    }

    .apaczkaMapMobileLogo {
        height: 40px !important;
    }
}


#selected-parcel-machine {
    border: 2px solid #29bb15;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
	min-width: fit-content;
}

#geowidget_show_map:hover {
	cursor: pointer;
}



/* MAP modal starts */
.apaczka_pl_geowidget_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.5 );
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.apaczka_pl_geowidget_modal_inner {
    background-color: white;
    width: 90%;
    height: 80%;
    /*max-width: 300px;*/
    padding: 20px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba( 0, 0, 0, 0.1 );
    margin-top: 5%;
}

#apaczka_pl_geowidget_modal_cross {
    position: absolute;
    top: 6px;
    right: 21px;
    font-size: 19px;
    cursor: pointer;
    /* padding: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    background: #e5dede;
    border-radius: 3px;
}
#apaczka_pl_geowidget_modal_inner_content {
    margin:20px 0;
    font-size:18px;
    width: 100%;
    height: 100%;
}

/* MAP modal ends */



span.apaczka-pl-chosen-locker-point.point {
    background: #b9ef9e;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;;
}

span.apaczka-pl-chosen-locker-point.description {
    border: 1px solid #ddd;
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
}